      
  .topnav a.active {
    background-color: #607a86;
    color: white;
  }

body {
    color: #ffffff;
    background-image: linear-gradient(#607a86, #232e33);
    background-attachment: fixed;
}

.content{
    display:block;
    width:960px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    background-color:#607a86;
}

p.indent{
    text-indent:30px;
    padding: 2px 30px;
    line-height: 1.5;
}

h1{
    color: #ffffff;
    text-align: center;
    background-color: #58717b;
}

h2{
    color: #ffffff;
    background-color: #58717b;
    text-align: center;
}

h3{
    text-align: left;
    padding-left: 16px; 
    font-style:italic;
    color: #bad7ce;
}

img.content{
    padding:10px;
    width:40%;
}

.button{
    background-color: #232e33;
    color: white;
    border-radius: 18px;
    padding: 13px 30px;
    text-align: center;
    display: inline-block;
    margin: 5px 5px 50px;
    margin: 0 auto;
    cursor: pointer;
 
}

.button:link, .button:visited, .button:active{
    color:white;
    text-decoration: none;
}

.button:hover{
    background-color: #41535b;
    color: white;
    box-shadow: 10px 10px 10px #222222;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }

.art-container {
  max-width: 1000px;
  position: relative;
  text-align: center;
}

.artphotos {
  display: none;
  
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 30%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 30%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.text {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: inline-block;
  bottom: 8px;
  width: 100%
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

 @media screen and (max-width: 900px)
 {
     .content{
        width:90vw;
         margin: 0 auto;
     }
     
     .button{
        padding: 13px 20px;
         font-size: 16px;
     }

     .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    img{
          width: 100%
          ;
    }
    .next {
      right: 0;
   
    }
    .prev {
      left: 0;
  
    }

 }

